<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>
<h1>Product List</h1>
<a href="/products/create">Add New Product</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Book Title</th>
        <th>Book Price</th>
        <th>Book Quantity</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.bookTitle}"></td>
        <td th:text="${product.bookPrice}"></td>
        <td th:text="${product.bookQuantity}"></td>
        <td>
            <a th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
            <a th:href="@{'/products/delete/' + ${product.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
