<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
</head>
<body>
<h1>Customer List</h1>
<a href="/customers/create">Add New Customer</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Emails</th>
        <th>Family Members</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td>
            <ul>
                <li th:text="${customer.personalEmail}"></li>
                <li th:text="${customer.officeEmail}"></li>
            </ul>
        </td>
        <td>
            <ul>
                <li th:each="member : ${customer.familyMembers}" th:text="${member}"></li>
            </ul>
        </td>
        <td>
            <a th:href="@{'/customers/edit/' + ${customer.id}}">Edit</a>
            <form th:action="@{'/customers/delete/' + ${customer.id}}" method="post" style="display:inline">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
